@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  opacity: 1;
  background-size: 21px 21px;
  background-image: repeating-linear-gradient(
    45deg,
    #171717 0,
    #171717 2.1px,
    #09090b 0,
    #09090b 50%
  );
}
