@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
}

@layer utilities {
  .pretty {
    text-wrap: pretty;
  }

  .balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
